.forca {
height: 20px;
width: 100px;
margin-top: 10px;
border: 1px solid #6256a7;
}
.fraca {
background-color: rgb(4, 0, 255);
}
.media {
background-color: orange;
}
.forte {
background-color: green;
}